*{
    font-family: 0%;
    padding : 0%;
 font-family: 'roboto', sans-serif;
}
body{
   background-color: #eeee;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: #eeee;
    padding: 17px;
    box-shadow: 0px 2px 2px 2px rgb(162, 179, 179);
}
nav.logo{
    margin: 22px;
    font-size: 24px;
}
ul{
    margin-right: 45px;
    margin-top: 7px;
}
nav ul li {
    list-style: none;
}
ul li a{
    margin-inline: 22px;
    font-size: 20px;
}
ul li i{
   font-size: 22px; 
}
ul li #home{
    color: rgb(5, 167, 167);
}
ul li a:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}
ul li i :hover{
  color: grey;
    cursor: pointer;
    
}
.main{
    display: flex;
    justify-content: space-around;
}
.main .mainText{
    margin-top: 144px;
    font-size: 24px;
}
.mainText h1{
    font-size: 64px;
    color: rgb(4, 138, 138);
}
.mainText.top{
    color: rgb(4, 138, 138);
}
.mainText button{
    width: 145px;
    height: 40px;
    background-color: rgb(4, 126, 126);
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 24px;

}
.mainText p{
margin-top: 12px;
}
.mainText button:hover{
    border: 3px solid rgb(5, 121, 121);
    background: transparent;
    color: rgb(4, 112, 112);

}
.trend .head{
    text-align: center;
    padding: 33px;
    margin-top: 32px;
}
.head span{
    color: rgb(5, 140, 140);
}
.card{
    display: flex;
    justify-content: center;

}
.card .crd{
    width: 300px;
    height: 500px;
    background-color: #fff;
    margin-inline: 11px;
}
.crd img{
    width: 85%;
    padding: 22px;
    border-radius: 31px;
}
.crdText{
    margin-left: 11px;
}
